# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Databases
backend/prisma/dev.db
backend/prisma/dev.db-journal
backend/dev.db
backend/dev.db-journal

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
backend/.env

# Production builds
dist/
build/

# IDE / System files
.DS_Store
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
